.container{
    max-height: 100vh;
    overflow: scroll;
}
.head{
    font-size: 15px;
    color: var(--yellow);
}
.table{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
.table tr{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5px 0;
    width: 100%;
    font-size: 11px;
    text-align: justify;
}
.table thead{
    border-bottom: 1px solid grey;
}